# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest


steps:
- task: AzureKeyVault@1
  inputs:
    azureSubscription: 'Azure Pass - Sponsorship(2)(59dd362a-3d61-4d37-9b01-a71d556f885f)'
    KeyVaultName: 'AvivKeyVault'
    SecretsFilter: '*'
    RunAsPreJob: false
    
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
